swagger: '2.0'
info:
  version: '1.0.0'
  title: Weather API
  description: A sample API that uses a Mashape weather API as an example to demonstrate features in the swagger-2.0 specification
  termsOfService: http://helloreverb.com/terms/
  contact:
    name: Tom Johnson
    email: tomjohnson1492@gmail.com
    url: http://swagger.io
  license:
    name: MIT
    url: http://opensource.org/licenses/MIT
host: simple-weather.p.mashape.com
schemes:
  - https
consumes:
  - application/json
produces:
  - application/json
paths:
  /aqi:
    get:
      description: gets air quality index
      operationId: getWeatherData
      produces:
        - text/xml
        - text/html
      parameters:
        - name: lat
          in: query
          description: latitude
          required: false
          type: string
        - name: lng
          in: query
          description: longitude
          required: false
          type: string
      responses:
        '200':
          description: aqi response
        default:
          description: unexpected error
  /weather:
    get:
      description: gets weather forecast in short label
      operationId: getWeatherData
      produces:
        - text/xml
        - text/html
      parameters:
        - name: lat
          in: query
          description: latitude
          required: false
          type: string
        - name: lng
          in: query
          description: longitude
          required: false
          type: string
      responses:
        '200':
          description: aqi response
        default:
          description: unexpected error
  /weatherdata:
    get:
      description: Get weather forecast by Latitude and Longtitude
      operationId: getWeatherData
      produces:
        - application/json
        - application/xml
        - text/xml
        - text/html
      parameters:
        - name: lat
          in: query
          description: latitude
          required: false
          type: string
        - name: lng
          in: query
          description: longitude
          required: false
          type: string
      responses:
        '200':
          description: aqi response
        default:
          description: unexpected error

